---
import Layout from "../../layouts/Layout.astro";
import blogData from "../../blogData.json";
export async function getStaticPaths() {
  return blogData.flatMap((blog, i) => {
    return [
      {
        params: { id: i + 1 },
        props: {
          blogTitle: blog.title,
          blogContent: blog.content,
        },
      },
    ];
  });
}
const { blogTitle } = Astro.props;
const { blogContent } = Astro.props;
---

<Layout title={blogTitle} name={blogTitle} content={blogContent}>
  <main class="page-container blog-post">
    <h1>{blogTitle}</h1>
    <p>{blogContent}</p>
  </main>
</Layout>
