---
import Layout from "../layouts/Layout.astro";
import BlogCard from "../components/BlogCard.jsx";
import blogData from "../blogData.json";
---

<Layout title="Blog" name="Jacob Handwerger Blog" content="Jacob Handwerger Blog page">
  <main class="page-container blogs-bg">
    <section class="cards-wrapper">
      {
        blogData.map((blog, i) => {
          return (
            <BlogCard
              title={blog.title}
              preview={blog.preview}
              date={blog.date}
              tag={blog.tag}
              img={blog.img}
              link={`/blog/${i + 1}`}
              published={blog.published}
            />
          );
        })
      }
    </section>
  </main>
</Layout>
